img{
    width: 300px;
    height: 200px;
    /* 이미지를 확대하여 보이는 네모가 하나의 픽셀 
    이미지 여려가지를 사이즈 하나로 설정*/
}
h1{
    font-size: 26px;
    color: red; 
    /* 글꼴의 크기와 색상 설정 */
}
ul{
    /* 외부 스타일 방식 >>
    선택자{
        스타일 속성: 속성값;
        ..
        ..
    } */
    color: blue;
    list-style-type: square;
    /* 분리 스타일을 사각형으로 함. */
}